*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	font-size: 62.5%; // 10px/16px = 62.5% -> 1rem = 10px
}

body {
	font-family: $font-type-3;
	color: $color-secondary-medium;
	font-weight: 300;
	line-height: 1.6;
}

.container {
	display: grid;
	grid-template-rows: min-content 100vh 40vh repeat(3, min-content);
	grid-template-columns:
		minmax(6rem, 1fr)
		[center-start]repeat(8, [col-start] minmax(min-content, 14rem) [col-end])
		[center-end]
		minmax(6rem, 1fr);
}
