// COLORS
$color-primary-light: #c69963;
$color-primary-dark: #b28451;

$color-secondary-light: #ffb900;
$color-secondary-medium: #ff7730;
$color-secondary-dark: #e31937;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark-1: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

// FONT
$font-type-1: 'Quicksand';
$font-type-2: 'Inconsolata';
$font-type-3: 'Nunito Sans';
